/* Empty. Add your own CSS if you like */

.checkbox1 .md-icon {
  /*background-color: #DDF8EC;*/
  -ms-transform: scale(1.75,1.75); /* IE 9 */
    -webkit-transform: scale(1.75,1.75); /* Safari */
    transform: scale(1.75,1.75);
}

.checkbox2 .md-icon {
  /*background-color: #AADFCE;*/
  -ms-transform: scale(1.75,1.75); /* IE 9 */
    -webkit-transform: scale(1.75,1.75); /* Safari */
    transform: scale(1.75,1.75);
}

.checkbox3 .md-icon {
  /*background-color: #86DDE1.75;*/
  -ms-transform: scale(1.75,1.75); /* IE 9 */
    -webkit-transform: scale(1.75,1.75); /* Safari */
    transform: scale(1.75,1.75);
}

.checkbox-container {
  text-align: center;
 
}

.md-checkbox {
  margin: 0px 0px 0px 0px;
}




.even {
  background: white;

}

.odd {
  background: #F5F5F5;
}






/*//Miscccccccccccccccccccccc
*/
.fc-agenda .fc-agenda-axis {
  font-weight: bold; 
  display: none; 
}
.fc-today{
  background-color: #ffffff; 
}


.fc-widget-header {
  border: none; 
}

/*// DAILY SCH EATING AND DRINKING*/
.dailySchduale{
  background-color: rgb(220, 230, 240); 
  border: none; 
  height: 30px; 

}


.dailySchduale .fc-event-inner .fc-event-title {
  float: right; 
  font-size: 20px; 
  font-weight: bold; 
  color: #918F92; 

}



.dailySchduale .fc-event-inner{
  background-color: #F5F5F5; 

}


.dailySchduale .fc-event-time{
  font-size: 20px; 
  font-style: bold; 
  color: #918F92; 
}






/*// DAILY SCH DRUGS*/
.drugs{
  /*// background-color: rgb(220, 230, 240); */
  border: none; 
  height: 90px; 
  margin-top: 10px; 
  margin-bottom: 10px; 

}

.drugs .fc-event-inner .fc-event-title {
  font-size: 20px; 
  font-weight: bold; 
  color: black; 

}

.drugs .fc-event-inner{
  /*// background-color: #A5D1F4; 
  // height: 42px; */
}


.drugs .fc-event-time{
  font-size: 20px; 
  font-style: bold; 
  color: black; 

  margin-right: 20px; 
}

.fc-header-title h2{
  font-size: 20px;  
}


.timeConstraints{
  border-right-style: solid; 
/*  // border-right-color: #ff4081;  
  // background-color: transparent; */
  border-left: thick none transparent;
  border-top: thick none transparent;
  border-bottom: thick none transparent;
height: 80px; 
}




.timeConstraints .fc-event-inner .fc-event-title {
  height: 50px; 
  box-sizing: border-box;



  float: right; 
  font-size: 17px; 
}


.timeConstraints .fc-event-time{
  display: none; 

}

.colorclass0{
  background-color: #2196F3; 
}

.colorclass1{
  background-color: #E040FB; 

}

.colorclass2{
  background-color: #1B5E20; 

}

.colorclass3{
  background-color: #0097A7; 
}

.colorclass4{
  background-color: #304FFE; 
}

.colorclass5{
  background-color: #FFEB3B; 
}

.colorclass6{
  background-color: #4E342E; 
}

.colorclass7{
  background-color: #FF6F00; 
}

.colorclass8{
  background-color: #2196F3; 
}

.noBackground{
  background-color: transparent; 
  border-bottom: 1px solid;
}



.drugsForMonthView .fc-event-time{
   display : none;
}

.dailyButtonView{
  font-size: 30px; 
  font-weight: bold; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  float: right;  
  color: white; 
  padding-top: 5px; 



}

.taskClass{
  font-size: 30px; 
  font-weight: bold; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  float: right;  
  color: white; 
  padding-top: 5px; 
  background-color: #FF6F00;

}

.drugsForMonthView{
  height: 10px !important; 
   
} 

.mainPageDailyCalendar .fc-day-header{
  display: none; 
}

.fc-day-header{
  /*display: none;*/
}

.dailyCalView .fc-day-header{
  display: none;
}

.SideEffectHeader{
  background-color: #55b6bb; 
 font-size: 20px; 
 color: white; 
}

.navbar-default .navbar-nav > li > a{
  color: white;
  font-weight: bold; 
}

.navbar-default .navbar-nav > .active > a{
  color: white;
  font-weight: bold; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
background-color: #B3423C;
height: 77px;
}
.navbar-collapse{ 
  color: white; 
}

.upcoming {
 z-index: 5;
  border-left: 10px solid rgba(0, 255, 0, 0.5); 
  border-left-color: green; 
  border-right: 1px solid black; 
  
}

.pending {
 z-index: 5;
  border-left: 10px solid rgba(0, 255, 0, 0.5); 
  border-left-color: yellow; 
  border-right: 1px solid black; 


}

.discontinued{
  z-index: 5;
  border-left: 10px solid rgba(0, 255, 0, 0.5); 
  border-left-color: red; 
  border-right: 1px solid black; 

}

.onhold{
  z-index: 5;
  border-left: 10px solid rgba(0, 255, 0, 0.5); 
  border-left-color: purple; 
  border-right: 1px solid black; 

}


.monthCal .fc-today{
  background-color: #fcf8e3; 
}


.monthCalLoading .fc-header{
  background-color: white;

}
.monthCalLoading .fc-button{
  color: white;
  background: white;
  border-color: white;
  box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.15), 0 1px 2px rgba(255, 255, 255, 0.05)

}

.monthCal .fc-button{
    box-shadow: none;
}

.dailyCalLoading .fc-header{
  background-color: white;
  color: white;
  border-color: white;
  border-style: solid;

}
.dailyCalLoading .fc-day{
  background-color: white;
  color: white;
  border-color: white;
  border-style: solid;

}



.monthCalLoading .fc-header{
  background-color: white;
  color: white;
  border-color: white;
  border-style: solid;

}
.monthCalLoading .fc-day{
  background-color: white;
  color: white;
  border-color: white; 

}

.monthCalLoading div{
  background-color: white;
  border-color: white;
  color: white;
  border: none;
}

.fc-ltr .fc-event-hori.fc-event-end{
  border-right-width: 10px;
  border-top-right-radius: 0px;  
  border-bottom-right-radius: 0px;  
  

  
}







/*// DAILY SCH tasks*/
.task{
  height: 30px; 

}


.task .fc-event-inner .fc-event-title {
 
  font-size: 20px; 
  font-weight: bold; 
  color: black; 

}



.task .fc-event-inner{
  
  background-color: none; 
  
}

/* MONTHLY SCEDULE TASKS*/

.monthTask{
  color: red;
  margin-top: -25px;
  font-size: 25px;
  font-weight: bold;

}

#choice0{
 color: #09C385;
}

#choice1{
  color: #F04A13;
}


.noResponse{
  color: red;
  font-size: 30px;
  padding-left: 15px;
}

.yesResponse{
  color: green;
  font-size: 30px;
  padding-left: 15px;
}



.dailyInstruc{
  padding-left: 107px;
  font-size: 14px;
  padding-bottom: 5px;
}

.yesNoButtons{
  text-align: center;
  padding-top: 5px;

}


