<ion-view view-title="Today">
  <ion-content>
    <div class="container dailyCalView padding">
    	<md-progress-circular md-mode="indeterminate" ng-if="loading === true"></md-progress-circular>

      <center>
      <div class="todayDate">{{date | date:'fullDate'}}</div>
      <div class="todayTime">{{date | date:'shortTime'}}</div>
      </center>
      <div class ="{{dailyCalLoading}}" ng-model="eventSources" data-calendar="myCalendar" data-config="uiConfig.calendar" data-ui-calendar="uiConfig.calendar"></div>
    </div>
  </ion-content>
</ion-view>